
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

.clear{
  clear: both;
}

body{
  font-family: 'News Cycle', sans-serif;
  font-size: 1em;
  text-align: center;
}

header{
  background-color: #eeeeee;
  /*height: 100px;*/
}

nav{
  max-width: 1000px;
  margin: auto;
  height: inherit;
}

h1{
  font-size: 3.666666em;
  float: left;
}

nav ul{
  list-style-type:none;
  float: right;
  height: inherit;
  padding-top: 2.5em;
}

nav ul li{
  float: left;
  margin-left: 2.666666em;
}

li a{
  text-decoration: none;
  color:#656565;
}

li a:hover{
  color:#27ae61;
}

#section1{
  background-color: #27ae61;
  background-image: url(banner.png);
  background-size: cover;
  margin: auto;
}

#section1 article{
  max-width: 1000px;
  margin: auto;
  height: inherit;
}

.imageFilles{
  border-radius: 50%;
  margin-right: 2.666666em;
  width: 160px;
  height: 160px;
}

#section1 h2{
  margin-top: 3em;
}

#section2{
  background-color: #eeeeee;
  margin: auto;
}

#section2 article{
  max-width: 1000px;
  margin: auto;
  height: inherit;
}

#section3{
  background-color: #27ae61;
  margin: auto;
}

#section3 article{
  max-width: 1000px;
  margin: auto;
  height: inherit;
}

p a{
  color:rgba(255,255,255,.8);
}

footer{
  background-color: #eeeeee;
  height: 12em;;
  margin: auto;
}

footer div{
  max-width: 1000px;
  margin: auto;
  height: inherit;
  padding-top: 6em;
}

h2{
  font-size: 3.666666em;
}

section{
  padding: 8em 0;
}

.soustitres{
  font-size: 1.5em;
  color:#656565;
}

#section1 .paragraphes, #section3 .paragraphes{
  color:rgba(255,255,255,.8);
}

#section1 h2, #section3 h2{
  color:rgba(255,255,255,.8);
}

nav ul, #section2 .paragraphes, footer{
  color: #656565;
}

.paragraphes{
  margin-top: 3.66666em;
}

.bouton{
  width: 17em;
  height: 4.66666em;
  border-radius: 0.33333em;
  display: inline-block;
  background-color: white;
  padding-top: 1em;
}

.bouton a{
  font-size: 1.5em;
  text-decoration: none;
}

#bouton1{
  background-color: #2b3f48;
  margin-top: 5em;
}

#bouton1 a{
  color:white;
}

#bouton2{
  background-color: #27ae61;
  margin-top: 4em;
}

#bouton2 a{
  color:white;
}

#bouton3{
  background-color: white;
  margin-top: 5em;
}

#bouton3 a{
  color:#27ae61;
}

@media (max-width:600px) {
  .imageFilles{
    /*width: 20%;
    height: 20%;*/
  }
  #conteneurimages{
    display: none;
  }

  #section1 h2{
    margin-top: 1em;
  }

  h1, h2{
    font-size: 2em;
  }

  nav ul{
    display: none;
  }
}
